@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- I added a slideshow -->
<!-- Start Banner -->
<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div class="pogoSlider-slide" style="background-image: url('/images/DogPulling.jpg');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h3>Do you need a <br><strong class="theme_color">change?</strong></h3>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" style="background-image:url('/images/GoodDogs.jpg');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h3>Are you<br><strong class="theme_color">ready</strong> to train?</h3>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .pogoSlider -->
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- I created/edited two paragraph  and an img-->
<img src="~/images/DogReading.jpg" style="float:right; height:500px;" />
<div class="text-center">
    <h1 class="display-4">What We Do</h1>
    <p>
        We are a small imaginary business that handles the need of your beloved family pet.
        We have experts on dog behavior to suit each and every dogs needs.
        From barking, to learning to walk off leash; we have a solution.
    </p>
    <br />
    <br />

    <h1>Contact Us</h1>
    <p>
        Do you have questions? Interested in joining a class? Get in contact with us now.<br /><br/>
        Phone: 0800 WOOF WOOF<br />
        Email: trustypaws@xtra.co.nz
    </p>
</div>