@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!--I added extra content here-->
<p>This website was created and intended for educational purposes only. You may not copy, download, steal, etc...
    Any contents of this website that would be an illegal act. All those who participate in the Trusty Paws Training Centre agree to the following:
    <ul>
        <li>All dogs must be registered prior to training</li>
        <li>All dogs must be collared</li>
        <li>Love dogs</li>
        <li>Actually... Love all animals</li>
        <li>Believe proper training can change any dog</li>
        <li>Never kick a dog</li>
        <li>Never hit a dog</li>
        <li>Never yell at a dog</li>
        <li>Never abuse a dog in any shape or form</li>
        <li>Actually... Never abuse any animal in any shape or form</li>
        <li>Always clean up after your dog in public places, on walks ect...</li>
        <li>Always clean up after your dog in public places, on walks ect...</li>
        <li>I know I said the clean up part twice. This was done on purpose; as few dog owners comply to this law</li>
        <li>Be patient!</li>
        <li>Learn from your mistakes</li>
    </ul>
    These terms are the foundation of Trusty Paws Training Centre.
    </p>
